<h3 class="h3-border">Hlavička plánu:</h3>
<p>Zde můžete editovat název plánu a Vaše kontaktní údaje, které budou zobrazeny na titulní stránce v exportovaném PDF dokument.</p>

<%= form_for @plan, url: plan_path(@plan.plan_id) do |f| %>
	<h5>Název plánu:</h5>
	<%= f.text_field :name, class: "form", value: "#{@plan.name}", id: "plan_name" %>
	<h5>Kontaktní údaje:</h5>
	<%= f.text_area :card, value: "#{@plan.card}", class: "tinymce", id:"card", rows: 4 %>
	<%= tinymce %>
	<%= f.submit "Uložit hlavičku", class: "btn btn-margin btn-primary", id: "Ulozit" %>
<% end %>