<h3 class="h3-border">Představení projektu:</h3>
<p>
	<%= form_for @plan, url: plan_path(@plan.plan_id) do |f| %>
			<%= f.text_area :summary, value: "#{@plan.summary}", class: "wysihtml5-textarea span9 counted", id: "summary", rows: 15 %>
			<%= render 'wysy_editor' %>
			<%= f.submit "Uložit sekci", class: "btn btn-primary" %>


<span class="countdown"></span>

<script type="text/javascript">function updateCountdown() {
    // 140 is the max message length
    var remaining = 140 - jQuery('.counted').val().length;
    jQuery('.countdown') .text(remaining + ' characters remaining.');
}

jQuery(document).ready(function($) {
    updateCountdown();
    $('.counted').change(updateCountdown);
    $('.counted').keyup(updateCountdown);
});</script>




	<% end %>
</p>

<h5>Co by měl text obsahovat:</h5>
<p>
	Představení projektu bude první věc, kterou si ve Vašem business plánu kdokoliv přečte. Proto je jejím hlavním úkolem čtenáře navnadit na další, detailnější části. Jako první věc byste měli představit samotný produkt nebo službu. Nebojte se jít rovnou k věci a nepřehánějte to s nic neříkající omáčkou okolo. Pokud máte vymyšlený nějaký zajímavý business model, můžete ho také nakousnout.
</p>
<p>
	Jako další věc je zde vhodné prezentovat svoji vizi. Nebojte se napsat, kde byste chtěli být za rok a kde za deset let. Čtenáře bude také určitě zajímat, jak jste se k projektu dostali a co Vás vede a motivuje k jeho realizaci.
</p>

<%= render 'wysy_script' %>